:root {
    --color1: #f8ff76; /* Primary */
    --color2: #e9523a; /* Accent */
    --color3: #2d7731; /* Secondary */
    --color4: #0f0f0f; /* Tertiary */
    --text-light: white;
    --transparent: rgba(255, 255, 255, 0.5);
    --muted: black;
}

.section-one {
    position: relative;
    width: 100vw;
    height: 90vh;

    background-image: url("/section1-bg.png");
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-one::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    gap: 0;

    width: 100%;
    height: 200px;

    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        #2d7731
    );

    pointer-events: none;
}

.section-one p {
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    color: white;
    margin: 0;

    animation: heroPanIn 2s ease-out forwards;
}
  
.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  
    padding: 20px 28px;
    border-radius: 12px;
  
    color: white;
}
  
.hero-content img {
    width: 200px;
    height: auto;

    animation: heroPanIn 1s ease-out forwards;
}
  
.hero-content h1 {
    font-family: "DM Serif Display", serif;
    font-size: 100px;
    font-weight: 700;
    font-style: italic;
    margin: 0;

    animation: heroPanIn 1.5s ease-out forwards;
}

.section-two {
    width: 100vw;
    height: 90vh;

    background-color: var(--color3);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-three {
    width: 100vw;
    height: 90vh;

    background-image: url("/section3-bg.png");
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-four {
    width: 100vw;
    height: 90vh;

    background-color: var(--color3);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-five {
    width: 100vw;
    height: 90vh;

    background-image: url("/section1-bg.png");
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes heroPanIn {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  