:root {
    --color1: #f8ff76; /* Primary */
    --color2: #e9523a; /* Accent */
    --color3: #2d7731; /* Secondary */
    --color4: #081700; /* Tertiary */
    --text-light: white;
    --transparent: rgba(255, 255, 255, 0.5);
    --muted: black;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.section-one {
    position: relative;
    width: 100vw;
    height: 90vh;

    background-image: url("/section1-bg.png");
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-one::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    gap: 0;

    width: 100%;
    height: 200px;

    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        var(--color4)
    );

    pointer-events: none;
}

.section-one p {
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    color: white;
    margin: 0;

    animation: heroPanIn 2s ease-out forwards;
}
  
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 20px;
    margin-bottom: 40px;
}
  
.hero-content h1 {
    font-family: "DM Serif Display", serif;
    font-size: 80px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    color: var(--text-light);
    margin: 0;

    animation: heroPanIn 1.5s ease-out forwards;
}

.contacts {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.contacts a {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;

    border: 2px solid white;
    border-radius: 999px;

    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 12px;

    animation: heroPanIn 2s ease-out forwards;

    transition: 
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.2s ease;
}

.contacts a:hover {
    background-color: white;
    color: black;
    transform: translateY(-2px);
}

.section-two {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color4);
}
  
.testimonial-card {
    width: 80%;
    max-width: 1100px;
    height: 360px;
  
    background: linear-gradient(135deg, var(--color3), var(--color4));
    border-radius: 24px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 40px 50px;
    position: relative;
    overflow: visible;
  
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.45);
}
  
.testimonial-left {
    max-width: 45%;
    justify-content: flex-start;
    align-items: center;
}

.testimonial-left a {
    padding: 14px 40px;
    margin: 10px;
    border-radius: 999px;
    border: none;
  
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
  
    color: white;
    background: linear-gradient(
      135deg,
      var(--color2)
    );
}
  
.testimonial-text {
    font-family: "DM Serif Display", serif;
    font-size: 50px;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    color: var(--text-light);
    margin-bottom: 20px;
}
  
.testimonial-right {
    position: relative;
    height: 100%;
    width: 50%;
}

.tomato-image {
    position: absolute;
    bottom: -20px;
    right: -20px;
    height: 140%;
    object-fit: contain;
} 

.section-three {
    width: 100vw;
    height: 90vh;

    background-color: var(--color4);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-four {
    width: 100vw;
    height: 90vh;

    background-color: var(--color4);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes heroPanIn {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
  