.section-one {
    width: 100vw;
    height: 90vh;
    padding: 0 !important;
    margin: 0 !important;
  
    /* Background image */
    background-image: url("../assets/section1-bg.png");
    background-position: center;

    /* Center content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-one p {
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    color: white;

    animation: heroPanIn 2s ease-out forwards;
}
  
.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  
    padding: 20px 28px;
    border-radius: 12px;
  
    color: white;
}
  
.hero-content img {
    width: 300px;
    height: auto;
    animation: heroPanIn 1s ease-out forwards;
}
  
.hero-content h1 {
    font-family: "DM Serif Display", serif;
    font-size: 200px;
    font-weight: 700;
    font-style: italic;
    margin: 0;
    animation: heroPanIn 1.5s ease-out forwards;
}

@keyframes heroPanIn {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  